

<form action="" method="post">
<table class="table table-bordered table-hover table-responsive table-striped">
<thead>
<tr><th>全选</th><th>商品</th><th>单价</th><th>数量</th><th>小计</th></tr>
</thead>
{% for product in product_list %}
<tr>
<td><input id="id_products_{{product.id}}" name="products" type="checkbox" value="{{product.id}}" /></td>
<td>{{ product.product_name.product_name}}</td>
<td>￥{{ product.product_name.product_price}}</td>
<td>{{ product.quantity}}</td>
<td>￥{% widthratio product.product_name.product_price 1 product.quantity%}</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="提交" />
</form>
{{product_data}}