<!DOCTYPE html>
{% include 'flow_index.html' %}
<div class="container" style="margin-left: -60px">
   <div class="row">
   <!--左侧导航栏-->
<div class="col-sm-3 col-md-3 col-lg-3" >
<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-th-list"></span>&nbsp;工作流管理<span class="pull-right glyphicon glyphicon-chevron-down"></span></a></h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
<div class="panel-body">
<ul class="nav nav-pills nav-stacked" id="nav-left">
<li><a href="/flow/flow_add/" target="_top"><span class="glyphicon glyphicon-stats"></span>&nbsp 新建需求</a></li>
<li><a href="/flow/flow_submit/" target="_top"><span class="glyphicon glyphicon-stats"></span>&nbsp 提交的需求</a></li>
<li><a href="/flow/flow_complete/" target="_top"><span class="glyphicon glyphicon-stats"></span>&nbsp 已完成需求</a></li>
<li><a href="/flow/flow_waitfor/" target="_top"><span class="glyphicon glyphicon-stats"></span>&nbsp 待处理需求</a></li>
<li><a href="/flow/flow_processed/" target="_top"><span class="glyphicon glyphicon-stats"></span>&nbsp 已处理需求</a></li>
<li><a href="/flow/demand_chart/" target="_top"><span class="glyphicon glyphicon-stats"></span>&nbsp 任务甘特图</a></li>
</ul>
</div>
</div>
</div>
<script>
$("#nav-top [href='/flow/flow_add/']").parent().addClass('active');
$("#nav-left [href='{{request.path_info}}']").parent().addClass('active');
</script>

</div>
</div>

