{% extends "app_active.htm" %}

{% block form_action %}
<form action="/push/headlineseffect/" method='post' class="form-inline" role="form">
{% endblock %}
{% block index %}
{% endblock %}
{% block data %}

		var push_date = {{select_date|safe}};
		var adr_rate = {{news_add|safe}};
		var ios_rate = {{comment_add|safe}};
		var ipad_rate = {{news_share|safe}};
		var web_rate = {{news_user|safe}};
        // 指定图表的配置项和数据
        {% include 'push_bar_tem4.htm' %}

{% endblock %}

{% block config %}
<!---->
option.series[0].type='line'
option.series[1].type='line'
option.series[2].type='line'
option.series[3].type='line'
option.series[0].name='新增资讯'
option.series[1].name='新增评论'
option.series[2].name='文章分享次数'
option.series[3].name='头条用户数'
option.legend.data=['新增资讯','新增评论','文章分享次数','头条用户数']
option.dataZoom=[{type: 'slider',start: 0,end: 100 },{type:'inside',start: 0,end: 100}]

{% endblock  %}
{% block tablehead %} 
   <thead>
      <tr>
         <th>Date</th>
         <th>news_add</th>
		 <th>comment_add</th>
		 <th>news_share</th>
		 <th>news_user</th>
      </tr>
   </thead>
{% endblock  %}
{% block tablebody %}   
   <tbody id="show">
{% for item in result %}
      <tr>
         <td>{% ifequal  date_format  'date' %}
		 {{ item.date}} 
		 {% else %}
		 {{ item.week}}  {{ item.month}} 
		 {% endifequal %}
		 </td>
         <td>{{ item.news_add |floatformat:"0"}}</td>
		 <td>{{ item.comment_add |floatformat:"0"}}</td>
		 <td>{{ item.news_share| floatformat:"0"}}</td>
		 <td>{{ item.news_user| floatformat:"0"}}</td>
      </tr>
	  {% endfor %}
   </tbody>
{% endblock  %}
{% block nav_top %}
$("#nav-top [href='/push/app_data/']").parent().addClass('active');
{% endblock  %}

{% block nav_left %}

$("#nav-left [href='/push/headlineseffect/']").parent().addClass('active');
{% endblock  %}








