<!DOCTYPE html>
{% include 'index.htm' %}
<div class="container" style="margin-left: -60px">
   <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3" >
	  <div class="panel panel-primary">
	<div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span>&nbsp;push周报</h3>
   </div>
<div class="panel-body">
{% block directory %}
<ul class="nav nav-pills nav-stacked" id="nav-left">
<li><a href="/push/push_open/" target="_top"><span class="glyphicon glyphicon-stats"></span>&nbsp push消息打开率</a></li>
<li><a href="/push/after_open/" target="_top"><span class="glyphicon glyphicon-stats"></span>&nbsp push点击后续行为</a></li>
<li><a href="/push/push_click/" target="_top"><span class="glyphicon glyphicon-stats"></span>&nbsp push点击次数分布</a></li>
<li><a href="/push/push_active/" target="_top"><span class="glyphicon glyphicon-stats"></span>&nbsp push带来的首次活跃</a></li>
<!--<li><a href="/push/area_active/" target="_top"><span class="glyphicon glyphicon-stats"></span>&nbsp push点击区域分布</a></li>-->
<li><a href="/push/push_content/" target="_top"><span class="glyphicon glyphicon-list-alt"></span>&nbsp push点击top|tail消息内容</a></li>
<li><a href="/push/loss_active/" target="_top"><span class="glyphicon glyphicon-list-alt"></span>&nbsp 潜在流失用户唤醒</a></li>
</ul>
{% endblock %}
</div>
</div>
</div>
<div class="col-sm-9 col-md-9 col-lg-9" >
<div class="panel panel-default">
<div class="panel-heading"  >
<div><div style="float: left;"><h4>潜在流失用户唤醒</h4></div>
<div style="float: right"><button class="btn btn-primary" onClick =" $('#customers').tableExport({type:'csv',escape:'false',tableName:'data.csv'});"><span class="glyphicon glyphicon-cloud-download"></span> 导出</button></div>
<div style="clear: both;"></div></div>
</div>

<div class="panel-body">
<table class="table table-hover table-striped" id="customers">
   <thead>
      <tr>
	     <th>push_date</th>
         <th>platform</th>
         <th>push_num</th>
		 <th>open_num</th>
		 <th>open_rate</th>
      </tr>
   </thead>
   <tbody id="show">
   {% for item in result %}
      <tr>
	     <td>{{ item.create_date }}</td>
         <td>{{ item.platform }}</td>
         <td>{{ item.push_num }}</td>
		 <td>{{ item.open_num }}</td>
		 <td>{{ item.rate }}</td>
      </tr>
	  {% endfor %}
   </tbody>
</table>
<table id="bottomTable" >  
	<tr align="center">  
		<td><button type="button" id="first" ><span class="glyphicon glyphicon-backward"></span></button></td> 
		<td><button type="button" id="back"><span  class="glyphicon glyphicon-chevron-left"></span></button></td>  
		<td><span id="pageInfo">第1页</span></td>
		<td><button type="button" id="next"><span  class="glyphicon glyphicon-chevron-right"></span></button></td> 
	   <td><button type="button" id="last"><span  class="glyphicon glyphicon-forward"></span></button></td>  
	</tr>  
</table> 
</div>
</div>
<script type="text/javascript">
{% block nav_top %}
$("#nav-top [href='/push/push_open/']").parent().addClass('active');
{% endblock  %}

{% block nav_left %}
$("#nav-left [href='/push/loss_active/']").parent().addClass('active');
{% endblock  %}
 
</script>

</div>
</div>
</div>
</div>
</body>
</html>






















