<!DOCTYPE html>
{% include 'index.htm' %}
{% block nav %}
{% endblock  %}
<div class="container"  style="padding: 260px">
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-4">
<div class="panel panel-default"  style="width:300px; height:280px;">

<div class="panel-body">
<p>&nbsp</p>
<form action="{{request.path_info}}" method='post' class="form-inline" role="form" id="action" name='form'>
{% csrf_token %}
{{ form.non_field_errors }}
{{ form }}
<input type="submit" value="提交" id="submit"></input>
</form>
</div>
</div>
</div>
<div class="col-md-5">
</div>
</div>
</div>
</body>
</html>
