{% extends "app_active.htm" %}

{% block form_action %}
<form action="/push/post_detail/" method='post' class="form-inline" role="form">
{% endblock %}

{% block form %}
{{ form.non_field_errors }}
<div class="form-group">
    {{ form.start_date.errors }}
   <p class="input-group"> <label class="input-group-addon" for="{{ form.start_date.id_for_label }}">开始日期</label>
    {{ form.start_date }}</p>
</div>
<div class="form-group">
    {{ form.end_date.errors }}
   <p class="input-group"> <label class="input-group-addon" for="{{ form.end_date.id_for_label }}">截止日期</label>
    {{ form.end_date }}</p>
</div>
<div class="form-group">
    {{ form.post_format.errors }}
   <p class="input-group"> 
    {{ form.post_format }}</p>
</div>
{% endblock %}

{% block index %}
{% endblock %}
{% block data %}

		var push_date = {{select_date|safe}};
		var data1 = {{post_add|safe}};
		var data2 = {{post_reply|safe}};
		var data3 = {{post_like|safe}};
		var data4 = {{post_add_app|safe}};
		var data5 = {{post_good|safe}};
		var data6 = {{post_add_uv|safe}};
		var data7 = {{post_home|safe}};
		var data8 = {{post_reply_uv|safe}};
		var data9 =[];
		
        // 指定图表的配置项和数据
        {% include 'push_bar_tem9.htm' %}

{% endblock %}

{% block config %}
<!---->
tmp_list=['发帖数','APP回帖数','APP点赞数','APP发帖数','APP精华帖','APP发帖uv','首页帖','APP回帖uv']
for(i=0;i<tmp_list.length;i++){
option.series[i].type='line';
option.series[i].name=tmp_list[i];
}
option.legend.data=tmp_list
option.dataZoom=[{type: 'slider',start: 0,end: 100 },{type:'inside',start: 0,end: 100}]

{% endblock  %}
{% block tablehead %} 
   <thead>
      <tr>
         <th>Date</th>
         <th>post_add</th>
		 <th>post_reply</th>
		 <th>post_like</th>
		 <th>post_add_app</th>
		 <th>post_good</th>
		 <th>post_add_uv</th>
		 <th>post_home</th>
		 <th>post_reply_uv</th>
      </tr>
   </thead>
{% endblock  %}
 {% block tablebody %}  
   <tbody id="show">
{% for item in result %}
      <tr>
         <td> {{ item.date}} </td>
         <td>{{ item.post_add |floatformat:"0" }}</td>
		 <td>{{ item.post_reply |floatformat:"0"}}</td>
		 <td>{{ item.post_like |floatformat:"0"}}</td>
		 <td>{{ item.post_add_app |floatformat:"0"}}</td>
		 <td>{{ item.post_good |floatformat:"0"}}</td>
		 <td>{{ item.post_add_uv |floatformat:"0"}}</td>
		 <td>{{ item.post_home |floatformat:"0"}}</td>
		 <td>{{ item.post_reply_uv |floatformat:"0"}}</td>
      </tr>
	  {% endfor %}
   </tbody>
{% endblock  %}

{% block nav_top %}
$("#nav-top [href='/push/app_active/']").parent().addClass('active');
{% endblock  %}

{% block nav_left %}

$("#nav-left [href='/push/post_detail/']").parent().addClass('active');
{% endblock  %}








