{% extends "push_open.htm" %}
{% block form_action %}
<form action="/push/push_send/" method='post' class="form-inline" role="form">
{% endblock %}
{% block form %}
<div class="form-group">
    {{ form.start_date.errors }}
   <p class="input-group"> <label class="input-group-addon" for="{{ form.start_date.id_for_label }}">开始日期</label>
    {{ form.start_date }}</p>
</div>
<div class="form-group">
    {{ form.end_date.errors }}
   <p class="input-group"> <label class="input-group-addon" for="{{ form.end_date.id_for_label }}">截止日期</label>
    {{ form.end_date }}</p>
</div>
{% for radio in form.platform %}
<div class="form-group">
    {{ radio }}
</div>
{% endfor %}
{% endblock %}

{% block data %}
var xAxisData={{ Axis|safe }}
var data1={{ list1|safe }}
var data2={{ list2|safe }}
var data3={{ list3|safe }}
var Legend={{ Legend|safe }}
{% include 'push_complex_tem.htm' %}
option.legend.data=Legend
option.series[0].name='发送数'
option.series[1].name='打开数'
option.series[2].name='打开率'
{% endblock %}
{% block config %}
  option.yAxis=[
        {
            type: 'value',
            name: '主坐标轴',
            max: 'dataMax',
            min: 0
        },
        {
            type: 'value',
            name: '次坐标轴',
            max: 10,
            min: 0,
			axisLabel: {
                formatter: '{value} %'
            }
        }
    ];
option.series[2].type='line'
option.series[2].yAxisIndex= 1;
option.dataZoom=[{type: 'slider', start: 0, end: 100 },{type:'inside',start: 0, end: 100}]


{% endblock %}
{% block remark %}
{% endblock %}

{% block nav_left %}
$("#nav-left [href='/push/push_send/']").parent().addClass('active');
{% endblock  %}






